<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <rewrite>
            <rewriteMaps configSource="redirect.config" />
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Redirecting .html ext" enabled="true">
					<match url="^(.*)[.]html"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*)[.]html"/>
					</conditions>
					<action type="Redirect" url="{ToLower:{R:1}}"/>
				</rule>
                <rule name="Hide .html ext">
                    <match ignoreCase="true" url="^(.*)"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html"/>
                </rule>
				<rule name="index" enabled="true" stopProcessing="true">
                    <match ignoreCase="false" url="^$" />
                    <action type="Redirect" url="introduction" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <error statusCode="404" path="40x.html" />
        </httpErrors>
    </system.webServer>

</configuration>
