<div id="page-tree">
</div>
<script>
  $("#page-tree").kendoTreeView({
    dataSource: {
      transport: {
        read: {
          url: "{{site.baseurl}}/{{page.category}}.json",
          dataType: "json"
        }
      },
      schema: {
        model: {
          id: "path",
          children: "items",
          hasChildren: "items"
        }
      }
    },
    messages: {
      loading: " "
    },
    select: preventParentSelection,
    template: navigationTemplate("{{site.baseurl}}/"),
    dataBound: expandNavigation("{{page.url | remove_first: '/' }}")
  });
</script>

{% if site.api_reference_url %}
<div id="page-tree-api" class="k-treeview">
  <ul class="k-group">
    <li class="k-item">
      <div class="k-mid">
        <span class="k-in">
          <a href="{{site.baseurl}}/{{ site.api_reference_url}}" target="_blank">API Reference</a>
        </span>
      </div>
    </li>
  </ul>
</div>	
{% endif %}
