
$accent: #ff884d; 
$accent-solid: #3f5366;
$text-active-color: #4b4e52;
$code-background-color: rgba(255, 136, 77, 1);

$link-color: #2489d8; 
$link-hover-color: #ff884d; 
$link-background-color: #f2f8ff;
$navigation-link-color: #696b6e;
$side-nav-link-color: $accent;
$side-nav-selected-fw: 500;

$try-now: #E74B3C;
$try-now-hover: #E53321;

$font-heading: "Roboto", Helvetica, Arial, sans-serif;
$font-regular: "Roboto", Helvetica, Arial, sans-serif;
$font-light: $font-regular;
$font-medium: $font-regular;
$font-code: Consolas, Menlo, "Ubuntu Mono", monospace;
$heading-fw: 400;

$footer-bg: #1b1e24;
$env-develop-bg: $accent;

$feedback-background: $accent;
$feedback-foreground: #ffffff;
$feedback-button-foreground: #f1f1f1;

$tip-bg: #e4f1df;
$important-bg: #f9edc6;
$caution-bg: #f7e1df;

$btn-action-background: transparent;
$btn-action-foreground: $accent;
$btn-action-active: $accent;
$btn-action-active-color: #f1f1f1;
